.feed-card-margin {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 355px;
  padding: 15px;
  max-width: 100%;
  background-color: white;
  border-radius: 25px;
}

.feed-img-border {
  border-color: transparent;
}

.feed-img {
  height: 300px;
  width: 300px;
  border-radius: 5px;
  display: block;
  object-fit: cover;
  background-position: center;
  padding: 4px;
  margin: 6px;
  position: relative;
}

.feed-img:hover {
  filter: brightness(60%);
}

.post-overlay {
  position: absolute;
  top: 135px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  opacity: 0;
}

.feed-img-border:hover .post-overlay {
  opacity: 1;
}

.adoption-background {
  border-color: var(--secondary);
  border-radius: 8px;
}

.button-interaction {
  cursor: pointer;
  background-color: transparent;
  border: transparent;
}

.button-interaction:hover {
  background-color: var(--primary);
}

.icon {
  font-size: 1.3rem;
}

.image-post-creator {
  margin: 0 10px;
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 14px;
}

.pet-name-text {
  margin: 0;
  padding-top: 5px;
}

.feedcard--change {
  display: flex;
}
