.friends-img {
  border-radius: 22px;
  object-fit: cover;
  width: 60px;
  height: 60px;
}

.btn-friends {
  margin: 5px;
  cursor: pointer;
  background-color: white;
  border: transparent;
}

.rounded-corners {
  border-radius: 25px;
}
