:root {
  --primary: #3f3250;
  --secondary: #675682;
  --tertiary: #67aeca;
  --quarternary: #e14658;
}

.App {
  font-family: "Montserrat", sans-serif;
}

.titleFont {
  font-family: "Fredoka One", cursive;
}

.content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.div-card {
  margin: 2rem;
  min-height: 92vh;
}

.form-height {
  height: 72vh;
  border-radius: 20px;
}

.card {
  border-radius: 20px;
}

.text-white {
  color: white;
}

#background {
  background-color: var(--primary);
}

.btn-color {
  background-color: var(--primary);
  color: white;
  border: none;
}

.btn-hover:hover {
  transition: all 0.5s ease-out;
  background-color: var(--secondary);
  border: none;
  color: white;
}

.profile-card {
  background-color: white;
  border-radius: 20px;
}

.header {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: #ffd166;
  width: 100%;
  z-index: 100;
}

.header-left {
  height: 40px;
  display: flex;
  align-items: center;
}

.header-middle {
  height: 40px;
  display: flex;
  align-items: center;
}

.header-right {
  height: 40px;
  display: flex;
  align-items: center;
}

.card-body {
  padding: 15px;
}

.btn-friends {
  background-color: transparent;
  border: none;
  color: black;
}

.btn-friends:hover {
  background-color: #ffd166;
  border: none;
  color: black;
}

#style:focus {
  background-color: #ffd166;
}

.header-button:hover {
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 40px 50px;
  border-bottom: none;
  color: black;
}

.post-icon {
  background-color: transparent;
  border: transparent;
  color: black;
}

.post-icon:hover {
  background-color: #ffd166;
  color: black;
}

.header-info {
  display: flex;
  align-items: center;
}

.profile-columns {
  display: flex;
  justify-content: center;
  padding: 0 0.5rem;
}

.profile-image {
  border-radius: 50%;
  object-fit: cover;
  width: 80px;
  height: 80px;
  margin-right: 13px;
}

.friends-image {
  border-radius: 50%;
  object-fit: cover;
  width: 60px;
  height: 60px;
}

.profile-name {
  margin: 0;
  display: flex;
  align-self: center;
}

.profile-columns-padding {
  padding: 0 0.7rem;
}

.profile-leftdiv-size {
  max-width: 270px;
}

.div-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adoption-background {
  background-color: #fce5ae;
}
.header-button {
  outline: none !important;
}

@media (max-width: 575px) {
  .profile-leftdiv-size {
    max-width: none;
    width: 91vw !important;
  }
  .profile-columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.2rem;
  }
  .post-header-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .div-profile {
    flex-flow: row;
  }
}

@media (max-width: 767px) {
  .text-white {
    color: black !important;
  }

  .header-button {
    padding: 40px 20px;
  }
  .header-button:hover {
    padding: 40px 20px;
  }
  .profile-image {
    width: 80px;
    height: 80px;
  }
  .friends-image {
    width: 50px;
    height: 50px;
  }
  .profile-name {
    font-size: 1.2rem;
  }
  .profile-description {
    font-size: 0.9rem;
  }
}

@media (max-width: 875px) {
  .others-img-heigh {
    width: 100%;
  }
  .about-session {
    max-width: 100%;
  }
  .profile-columns-padding {
    padding: 0 0.5rem;
  }
  .post-header {
    max-width: 550px;
  }
}

@media (max-width: 1249px) {
  .post-header {
    max-width: 650px;
  }
}

@media (max-width: 1249px) {
  .post-header {
    max-width: 650px;
  }
  .icons-div {
    font-size: 1.2rem;
  }
}

@media (min-width: 1250px) {
  .about-session {
    max-width: 70%;
  }
  .header-button {
    padding: 40px 80px;
  }
  .post-header {
    max-width: 700px;
  }
  .header-button:hover {
    padding: 40px 80px;
  }
  .icons-div {
    font-size: 1.3rem;
  }
}
